<section class="about" id="about-this-game">
  <div class="container">
    <h1 class="about-title">About This Game</h1>
    <p class="about-text">
      Color Fusion is developed by passionate team dedicated to creating
      innovative and visually appealing puzzle games. With its fluid animations,
      immersive sound effects, and easy-to-learn mechanics, Color Fusion offers
      an unforgettable gaming experience. Whether you're experimenting with
      colors, solving tricky puzzles, or simply unwinding with a visually
      captivating game, Color Fusion delivers endless hours of entertainment.
    </p>
    <p class="about-text">
      Color Fusion companion app allows you to explore the full range of
      capabilities of the Color Fusion Nail Polish Maker. Up your nail game with
      custom matching colors and unique nail art designs. Manicures have never
      been so fun!
    </p>
  </div>
</section>
