<div class="mob-menu">
  <button class="btn-mob-close" type="button">
    <picture class="icon-mob-close">
      <source
        srcset="./img/icons/close-icon.png 1x, ./img/icons/close-icon@2x.png 2x"
      />
      <img
        src="./img/icons/close-icon.png"
        alt="Mobile menu close icon"
        width="42"
        height="42"
      />
    </picture>
  </button>
  <nav class="nav-header">
    <ul class="nav-list">
      <li><a class="nav-link" href="./index.html">Home</a></li>
      <li><a class="nav-link" href="#benefits">Benefits</a></li>
      <li><a class="nav-link" href="#about-this-game">About This Game</a></li>
      <li><a class="nav-link" href="#how-to-play">How to Play</a></li>
      <li><a class="nav-link" href="#faq">FAQ</a></li>
      <li><a class="nav-link" href="#reviews">Reviews</a></li>
      <li><a class="nav-link" href="#gallery">Gallery</a></li>
    </ul>
  </nav>
</div>
