<section class="faq" id="faq">
  <div class="container">
    <h2 class="title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item open">
        <button class="question">
          <div class="text-wrap">How do I start playing?</div>
          <picture class="icon-faq">
            <source
              srcset="
                ./img/icons/arrow-down.png,
                ./img/icons/arrow-down@2x.png 2x
              "
            />
            <img
              src="./img/icons/arrow-down.png"
              alt="Arrow down icon"
              width="42"
              height="42"
            />
          </picture>
        </button>
        <p class="answer">
          Download Color Fusion from Google Play, open the app, and complete the
          quick tutorial.
        </p>
      </li>
      <li class="faq-item">
        <button class="question">
          <div class="text-wrap">Is the game easy to learn?</div>
          <picture class="icon-faq">
            <source
              srcset="
                ./img/icons/arrow-down.png,
                ./img/icons/arrow-down@2x.png 2x
              "
            />
            <img
              src="./img/icons/arrow-down.png"
              alt="Arrow down icon"
              width="42"
              height="42"
            />
          </picture>
        </button>
        <p class="answer">
          Yes! The mechanics are simple yet deeply engaging, offering fun for
          both beginners and experienced puzzle fans.
        </p>
      </li>
      <li class="faq-item">
        <button class="question">
          <div class="text-wrap">Are there in-app purchases?</div>

          <picture class="icon-faq">
            <source
              srcset="
                ./img/icons/arrow-down.png,
                ./img/icons/arrow-down@2x.png 2x
              "
            />
            <img
              src="./img/icons/arrow-down.png"
              alt="Arrow down icon"
              width="42"
              height="42"
            />
          </picture>
        </button>
        <p class="answer">
          Yes, you can purchase optional boosters, additional moves, and
          exclusive color palettes.
        </p>
      </li>
      <li class="faq-item">
        <button class="question">
          <div class="text-wrap">Can I play offline?</div>

          <picture class="icon-faq">
            <source
              srcset="
                ./img/icons/arrow-down.png,
                ./img/icons/arrow-down@2x.png 2x
              "
            />
            <img
              src="./img/icons/arrow-down.png"
              alt="Arrow down icon"
              width="42"
              height="42"
            />
          </picture>
        </button>
        <p class="answer">
          Yes, Color Fusion supports offline play, so you can enjoy it anytime,
          anywhere.
        </p>
      </li>
      <li class="faq-item">
        <button class="question">
          <div class="text-wrap">How often are new levels added?</div>
          <picture class="icon-faq">
            <source
              srcset="
                ./img/icons/arrow-down.png,
                ./img/icons/arrow-down@2x.png 2x
              "
            />
            <img
              src="./img/icons/arrow-down.png"
              alt="Arrow down icon"
              width="42"
              height="42"
            />
          </picture>
        </button>
        <p class="answer">
          Our team frequently updates the game with new levels, mechanics, and
          seasonal events.
        </p>
      </li>
      <li class="faq-item">
        <button class="question">
          <div class="text-wrap">What are power-ups, and how do they work?</div>
          <picture class="icon-faq">
            <source
              srcset="
                ./img/icons/arrow-down.png,
                ./img/icons/arrow-down@2x.png 2x
              "
            />
            <img
              src="./img/icons/arrow-down.png"
              alt="Arrow down icon"
              width="42"
              height="42"
            />
          </picture>
        </button>
        <p class="answer">
          Power-ups like Color Bombs and Glow Blasts help you clear the board
          faster and solve tricky puzzles with ease.
        </p>
      </li>
    </ul>
  </div>
</section>
