<header class="header">
  <div class="container">
    <nav class="nav-header">
      <ul class="nav-list">
        <li><a class="nav-link" href="./index.html">Home</a></li>
        <li><a class="nav-link" href="#benefits">Benefits</a></li>
        <li><a class="nav-link" href="#about-this-game">About This Game</a></li>
        <li><a class="nav-link" href="#how-to-play">How to Play</a></li>
        <li><a class="nav-link" href="#faq">FAQ</a></li>
        <li><a class="nav-link" href="#reviews">Reviews</a></li>
        <li><a class="nav-link" href="#gallery">Gallery</a></li>
      </ul>
    </nav>
    <button class="btn-mob-open" type="button">
      <picture class="burger-icon">
        <source
          srcset="./img/icons/burger.png 1x, ./img/icons/burger@2x.png 2x"
        />
        <img
          src="./img/icons/burger.png"
          alt="Mobile menu open icon"
          width="34"
          height="22"
        />
      </picture>
    </button>
  </div>
</header>
