<div class="hero container">
  <h1 class="hero-title">Color Fusion - Merge, Match & Mesmerize!</h1>
  <img
    src="../img/hero-mob.jpg"
    srcset="../img/hero-mob.jpg 1x, ../img/hero-mob@2x.jpg 2x"
    alt="color fusion"
    class="hero-img"
  />
  <p class="hero-text">
    Immerse yourself in a world of color with Color Fusion! Experience a
    visually stunning puzzle game where your goal is to merge colors, solve
    intricate challenges, and watch mesmerizing fusions unfold. With intuitive
    mechanics, vibrant visuals, and satisfying gameplay, Color Fusion is perfect
    for casual gamers and puzzle enthusiasts alike. Let the colors blend and
    create something magical!
  </p>
  <button class="hero-button">
    Google Play
    <svg class="hero-icon">
      <use href="./img/sprite.svg#icon-playstore"></use>
    </svg>
  </button>
</div>
