<div class="container">
  <div class="hero">
    <h1 class="hero-title">Color Fusion - Merge, Match & Mesmerize!</h1>
    <div class="hero-content">
      <picture class="hero-img">
        <source
          srcset="./img/hero.jpg 1x, ./img/hero@2x.jpg 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/hero-mob.jpg 1x, ./img/hero-mob@2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img src="./img/hero.jpg" alt="color fusion" />
      </picture>
      <div class="hero-box">
        <p class="hero-text">
          Immerse yourself in a world of color with Color Fusion! Experience a
          visually stunning puzzle game where your goal is to merge colors,
          solve intricate challenges, and watch mesmerizing fusions unfold. With
          intuitive mechanics, vibrant visuals, and satisfying gameplay, Color
          Fusion is perfect for casual gamers and puzzle enthusiasts alike. Let
          the colors blend and create something magical!
        </p>
        <button class="hero-button">
          <a
            href="https://play.google.com/store/apps/details?id=com.makeitreal.colorfusion&hl=en&gl=us"
            target="_blank"
          >
            Google Play
          </a>
          <img src="/img/Playstore.png" alt="go to Playstore" />
        </button>
      </div>
    </div>
  </div>
</div>
