<section class="play" id="how-to-play">
  <div class="container">
    <h1 class="play-title">How to Play</h1>
    <div class="play-list">
      <div class="item-content item-content--1">
        <p class="item-counter item-counter--1">1</p>
        Engaging Puzzle Gameplay – <br />
        Solve color-based puzzles that <br />
        challenge your logic and creativity.
      </div>

      <div class="item-content item-content--2">
        <p class="item-counter item-counter--2">2</p>
        Solve Puzzles – Complete unique challenges by reaching target colors and
        scores.
      </div>

      <div class="item-content item-content--3">
        <p class="item-counter item-counter--3">3</p>
        Use Power-Ups – Unlock boosters like Color Bombs, Mixers, and Glow
        Blasts for a strategic edge.
      </div>

      <div class="item-content item-content--4">
        <p class="item-counter item-counter--4">4</p>
        Master New Mechanics – Progress through diverse levels with creative and
        evolving gameplay.
      </div>

      <div class="item-content item-content--5">
        <p class="item-counter item-counter--5">5</p>
        Compete & Achieve – Take on leaderboard challenges and earn rewards for
        top scores.
      </div>
    </div>
  </div>
</section>
