<div class="cookies-overlay" aria-hidden="true">
  <div
    class="cookies-pop-up"
    role="dialog"
    aria-labelledby="cookiesTitle"
    aria-describedby="cookiesText"
  >
    <h2 class="title">Cookies Policy</h2>
    <p class="text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="btn-wrap">
      <button class="cookies-yes" type="button">Accept cookies</button>
      <button class="cookies-no" type="button">Decline cookies</button>
    </div>
  </div>
</div>
