<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="section-title">Reviews</h2>
    <div class="wrap-for-btn" data-swiper="reviews">
      <button class="swiper-button-prev">
        <picture>
          <source
            srcset="
              ./img/icons/arrow-left.png,
              ./img/icons/arrow-left@2x.png 2x
            "
          />
          <img
            src="./img/icons/arrow-left.png"
            alt="Arrow left icon"
            width="32"
            height="64"
          />
        </picture>
      </button>
      <div class="swiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="auth-info-wrap">
              <picture class="auth-photo">
                <source
                  srcset="
                    ./img/reviews/rev1.png    1x,
                    ./img/reviews/rev1@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./img/reviews/rev1-mob.png    1x,
                    ./img/reviews/rev1-mob@2x.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/reviews/rev1.png"
                  alt="Samantha Brooks photo"
                  width="43"
                />
              </picture>
              <h3 class="auth-name">Samantha Brooks</h3>
            </div>
            <p class="auth-comment">
              Absolutely love Color Fusion! The color-blending mechanics are so
              satisfying, and the puzzles are well-designed. Highly recommended!
            </p>
          </li>
          <li class="swiper-slide">
            <div class="auth-info-wrap">
              <picture class="auth-photo">
                <source
                  srcset="
                    ./img/reviews/rev2.png    1x,
                    ./img/reviews/rev2@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./img/reviews/rev2-mob.png    1x,
                    ./img/reviews/rev2-mob@2x.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/reviews/rev2.png"
                  alt="Jonathan Reed photo"
                  width="43"
                />
              </picture>
              <h3 class="auth-name">Jonathan Reed</h3>
            </div>
            <p class="auth-comment">
              A visually stunning and relaxing game. The animations and effects
              make each move feel rewarding. I can’t put it down.
            </p>
          </li>
          <li class="swiper-slide">
            <div class="auth-info-wrap">
              <picture class="auth-photo">
                <source
                  srcset="
                    ./img/reviews/rev3.png    1x,
                    ./img/reviews/rev3@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./img/reviews/rev3-mob.png    1x,
                    ./img/reviews/rev3-mob@2x.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/reviews/rev3.png"
                  alt="Emily Harper photo"
                  width="43"
                />
              </picture>
              <h3 class="auth-name">Emily Harper</h3>
            </div>
            <p class="auth-comment">
              A fresh take on puzzle games! Merging colors feels intuitive, and
              the challenge curve is just right. A great game to unwind with.
            </p>
          </li>
          <li class="swiper-slide">
            <div class="auth-info-wrap">
              <picture class="auth-photo">
                <source
                  srcset="
                    ./img/reviews/rev4.png    1x,
                    ./img/reviews/rev4@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./img/reviews/rev4-mob.png    1x,
                    ./img/reviews/rev4-mob@2x.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/reviews/rev4.png"
                  alt="Michael Chang photo"
                  width="43"
                />
              </picture>
              <h3 class="auth-name">Michael Chang</h3>
            </div>
            <p class="auth-comment">
              The daily challenges keep me coming back! The color combinations
              are beautiful, and the gameplay is super smooth. Love it!
            </p>
          </li>
          <li class="swiper-slide">
            <div class="auth-info-wrap">
              <picture class="auth-photo">
                <source
                  srcset="
                    ./img/reviews/rev5.png    1x,
                    ./img/reviews/rev5@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./img/reviews/rev5-mob.png    1x,
                    ./img/reviews/rev5-mob@2x.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./img/reviews/rev5.png"
                  alt="Olivia Martinez photo"
                  width="43"
                />
              </picture>
              <h3 class="auth-name">Olivia Martinez</h3>
            </div>
            <p class="auth-comment">
              One of the best puzzle games I’ve played. The level design is
              creative, and watching colors fuse together is incredibly
              satisfying.
            </p>
          </li>
        </ul>

        <div class="swiper-pagination"></div>
      </div>
      <button class="swiper-button-next">
        <picture>
          <source
            srcset="
              ./img/icons/arrow-right.png,
              ./img/icons/arrow-right@2x.png 2x
            "
          />
          <img
            src="./img/icons/arrow-right.png"
            alt="Arrow left icon"
            width="32"
            height="64"
          />
        </picture>
      </button>
    </div>
  </div>
</section>
