.about {
  padding-top: 60px;
  @include media(desktop) {
    padding-top: 160px;
  }
}

.about-title {
  color: $_black_color;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 24px;
  }
}

.about-text {
  color: $_black_color;
  font-size: 12px;
  line-height: 18px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  @include media(desktop) {
    font-size: 20px;
    line-height: 28px;
  }
}
