.about {
  margin-top: 60px;
}

.about-title {
  color: $_black_color;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.about-text {
  color: $_black_color;
  font-size: 12px;
  line-height: 18px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
