.footer {
  margin-top: 42px;
  background: $_pink_color;
  @include media(desktop) {
    display: flex;
    justify-content: center;
    margin-top: 160px;
  }
}

.footer-container {
  box-sizing: border-box;
  padding: 30px 37px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include media(desktop) {
    display: flex;
    padding: 60px 0;
    width: 492px;
    justify-content: center;
    align-items: center;
  }
}

.footer-text {
  color: $_black_color;
  font-size: 10px;
  font-weight: 400;
  &:not(:last-child):not(:nth-child(3)) {
    &::after {
      content: '|';
      color: $_black_color;
      margin: 0 2px;
      @include media(desktop) {
        margin: 0 10px;
      }
    }
  }

  @include media(desktop) {
    font-size: 16px;
  }
}
