.header {
  background-color: $_pink_color;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-list {
  display: none;
  @include media('desktop') {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}
.nav-link {
  padding-top: 22px;
  padding-bottom: 22px;
  display: block;
  color: #000;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $_accent_color;
  }
}
.btn-mob-open {
  background-color: transparent;
  border: none;
  margin: 18px 0;
  padding: 0;
  @include media('mobile') {
  }

  @include media('desktop') {
    display: none;
  }
}
