@import 'modern-normalize';
@import './header.scss';
@import './burgerMenu.scss';
@import './hero.scss';
@import './benefits.scss';
@import './aboutThisGame.scss';
@import './howToPlay.scss';
@import './faq.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './footer.scss';
@import './pages.scss';
@import './popUp.scss';

:root {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;

  color: $_black_color;
  background-color: $_fon_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
